<% content_for :title, "Editing Business" %>

<section class="card">
  <header class="card__header">
    <h2 class="card__heading">Editing Business</h2>
    <p class="card__description">Update your business details below.</p>
  </header>

  <div class="card__body">
    <%= render "businesses/form", business: @business %>
  </div>
</section>
