<% content_for :title, "New Business" %>

<section class="card">
  <header class="card__header">
    <h2 class="card__heading">New Business</h2>
    <p class="card__description">
      Fill in the fields below to create a new business.
    </p>
  </header>

  <div class="card__body">
    <%= render "businesses/form", business: @business %>
  </div>
</section>
