<% content_for :title, t(".title") %>

<section class="card">
  <header class="card__header">
    <h2 class="card__heading"><%= t(".header.heading") %></h2>
    <p class="card__description"><%= t(".header.description") %></p>
  </header>

  <div class="card__body">
    <%= render "businesses/form", business: @business %>
  </div>
</section>
