<% content_for :title, @business.name %>

<section class="card">
  <header class="card__header card__header--with-actions">
    <div>
      <h2 class="card__heading">Business Details</h2>
      <p class="card__description">See the details of your business below.</p>
    </div>

    <div class="card__actions">
      <%= link_to "Edit", edit_business_path(@business), class: "button button--action" %>
    </div>
  </header>

  <div class="card__body">
    <%= render "businesses/business", business: @business %>
  </div>

  <footer class="card__footer">
    <div class="card__footer--end">
      <%= link_to "Return", businesses_path, class: "button" %>
      <%= button_to "Destroy",
                @business,
                method: :delete,
                data: {
                  turbo_confirm: "Are you sure you want to destroy this business?",
                },
                class: "button button--danger" %>
    </div>
  </footer>
</section>
