<%# locals: (catalog:, property_group:) %>

<dl class="description-list">
  <div class="description-list__item">
    <dt class="description-list__term">Name</dt>
    <dd class="description-list__definition"><%= property_group.name %></dd>
  </div>
</dl>
