<%= turbo_frame_tag turbo_frame_id(@property_group) do %>
  <div class="card mb-6">
    <div class="card__body">
      <%= render "form", property_group: @property_group %>
    </div>
  </div>
<% end %>
