<%# locals: (business:, option_group:) %>

<dl class="description-list">
  <div class="description-list__item">
    <dt class="description-list__term">Maximum selections</dt>
    <dd class="description-list__definition">
      <%= option_group.maximum_selections %>
    </dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">Minimum selections</dt>
    <dd class="description-list__definition">
      <%= option_group.minimum_selections %>
    </dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">Name</dt>
    <dd class="description-list__definition"><%= option_group.name %></dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">Visible</dt>
    <dd class="description-list__definition">
      <%= option_group.visible? ? "Yes" : "No" %>
    </dd>
  </div>
</dl>
