<% content_for :title, "Editing Option Group" %>

<section class="card">
  <header class="card__header">
    <h2 class="card__heading">Editing Option Group</h2>
    <p class="card__description">Update your option group details below.</p>
  </header>

  <div class="card__body">
    <%= render "option_groups/form", catalog: @catalog, option_group: @option_group %>
  </div>
</section>
