<% content_for :title, "New Option Group" %>

<section class="card">
  <header class="card__header">
    <h2 class="card__heading">New Option Group</h2>
    <p class="card__description">
      Fill in the fields below to create a new option group.
    </p>
  </header>

  <div class="card__body">
    <%= render "option_groups/form", business: @business, option_group: @option_group %>
  </div>
</section>
