<%# locals: (catalog:, product:, product_option_group:) %>

<% option_group = product_option_group.option_group %>

<%= turbo_frame_tag turbo_frame_id(product_option_group) do %>
  <div class="mb-4 flex items-center justify-between">
    <h2 class="card__heading mb-2">
      <%= link_to option_group.name, [catalog, option_group] %>
    </h2>

    <%= button_to "Destroy",
              [catalog, product, product_option_group],
              method: :delete,
              data: {
                turbo_confirm:
                  "Are you sure you want to destroy this option group?",
              },
              class: "button button--danger" %>
  </div>
<% end %>
