<%= turbo_frame_tag turbo_frame_id(@property) do %>
  <div class="card mb-6">
    <header class="card__header">
      <h3 class="card__heading">Editing Property</h3>
    </header>
    <div class="card__body">
      <%= render "form", property: @property %>
    </div>
  </div>
<% end %>
