<%= turbo_frame_tag turbo_frame_id(@property) do %>
  <section class="card">
    <div class="card__body">
      <%= render "properties/form",
             catalog: @catalog,
             property_group: @property_group,
             property: @property %>
    </div>
  </section>

  <div class="divider"></div>
<% end %>
