<%= turbo_frame_tag turbo_frame_id(Property.new) do %>
  <section class="card">
    <header class="card__header">
      <h2 class="card__heading">New Property</h2>
      <p class="card__description">
        Fill in the fields below to create a new property.
      </p>
    </header>

    <div class="card__body">
      <%= render "properties/form",
             catalog: @catalog,
             property_group: @property_group,
             property: @property %>
    </div>
  </section>
<% end %>
