<%= turbo_frame_tag turbo_frame_id(@option) do %>
  <section class="card">
    <div class="card__body">
      <%= render "options/form",
             business: @business,
             option_group: @option_group,
             option: @option %>
    </div>
  </section>

  <div class="divider"></div>
<% end %>
