<%= turbo_frame_tag turbo_frame_id(@option) do %>
  <div class="card mb-6">
    <header class="card__header">
      <h3 class="card__heading">Editing Option</h3>
    </header>
    <div class="card__body">
      <%= render "form", option: @option %>
    </div>
  </div>
<% end %>
