<h1><%= @catalog.name %></h1>

<% @categories.populated.each do |category| %>
  <h2><%= category.name %></h2>

  <ul>
    <% category.products.active.each do |product| %>
      <li>
        <%= link_to "#{product.name} - #{product.primary_variant.price.format}",
                public_product_path(catalog_slug: @catalog.slug, slug: product.slug) %>
      </li>
    <% end %>
  </ul>
<% end %>
