<%= turbo_frame_tag turbo_frame_id(ProductPropertyGroup.new) do %>
  <section class="card">
    <header class="card__header">
      <h2 class="card__heading">New Property Group</h2>
      <p class="card__description">
        Select an property group below to add it to your product.
      </p>
    </header>

    <div class="card__body">
      <%= render "product_property_groups/form",
             business: @business,
             product: @product,
             product_property_group: @product_property_group %>
    </div>
  </section>
<% end %>
