<% content_for :title, "New Category" %>

<section class="card">
  <header class="card__header">
    <h2 class="card__heading">
      New Category
    </h2>
    <p class="card__description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores in soluta eius, exercitationem et alias quae.
    </p>
  </header>

  <div class="card__body">
    <% if @categories_empty %>
      <h1>You must create at least one category before accessing the app.</h1>
      <p>You must create at least one category before creating a product.</p>
    <% end %>

    <%= render "form", category: @category %>
  </div>
</section>
