<% content_for :title, @category.name %>

<section class="card">
  <header class="card__header card__header--with-actions">
    <div>
      <h2 class="card__heading">
        Category Details
      </h2>
      <p class="card__description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores in soluta eius, exercitationem et alias quae.
      </p>
    </div>
    <div class="card__actions">
      <%= link_to "Edit category", edit_business_category_path(@business, @category), class: "button button--action" %>
    </div>
  </header>

  <div class="card__body">
    <%= render partial: "categories/category", locals: { category: @category } %>
  </div>

  <footer class="card__footer">
    <div class="card__footer--end">
      <%= link_to "Back to categories", business_categories_path(@business), class: "button" %>
      <%= button_to "Destroy category", [ @business, @category ], method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "button button--danger" %>
    </div>
  </footer>
</section>
