<% if product.variants.empty? %>
  <p class="description-list__definition text-center">
    ---
  </p>
<% else %>
  <ul>
    <% product.variants.each do |variant| %>
      <li class="description-list__definition">
        <%= variant.label %>
      </li>
    <% end %>
  </ul>
<% end %>
