<% content_for :title, "Editing Product" %>

<section class="card">
  <header class="card__header">
    <h2 class="card__heading">Editing Product</h2>
    <p class="card__description">Update your product details below.</p>
  </header>

  <div class="card__body">
    <%= render "products/form", business: @business, product: @product %>
  </div>
</section>
