<% content_for :title, "New Product" %>

<section class="card">
  <header class="card__header">
    <h2 class="card__heading">
      New Product
    </h2>
    <p class="card__description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores in soluta eius, exercitationem et alias quae.
    </p>
  </header>

  <div class="card__body">
    <%= render "form", product: @product %>
  </div>
</section>
