<% content_for :title, @product.name %>

<section class="card">
  <header class="card__header card__header--with-actions">
    <div>
      <h2 class="card__heading">Product Details</h2>
      <p class="card__description">See the details of your product below.</p>
    </div>

    <div class="card__actions">
      <%= link_to "Edit",
              edit_business_product_path(@business, @product),
              class: "button button--action" %>
    </div>
  </header>

  <div class="card__body">
    <%= render "products/product", business: @business, product: @product %>
  </div>

  <footer class="card__footer">
    <div class="card__footer--end">
      <%= link_to "Return", business_products_path(@business), class: "button" %>
      <%= button_to "Destroy",
                [@business, @product],
                method: :delete,
                data: {
                  turbo_confirm: "Are you sure you want to destroy this product?",
                },
                class: "button button--danger" %>
    </div>
  </footer>
</section>
